@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  max-width: 100%;
  width: 100%;
}

.heading{
  @apply text-white text-4xl md:text-5xl lg:text-6xl
}

.showcase{
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 0.1px);
}

.showcase .overlay{
  background-color : rgba(0,0,0, 0.3);
  height: calc(100vh - 0.1px);
  display: flex;
  align-items: center;
  justify-content: center;
}
